<?xml version="1.0" encoding="UTF-8"?>

<DynamicFunctions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/function.xsd">
  <DynamicFunction language="en">
    <Title><![CDATA[Gallery Guides Section FT]]></Title>
    <Description><![CDATA[Gallery Guides Section FT]]></Description>
    <FunctionProvider>
      <link type="WEAK">
        <target><![CDATA[/system/modules/com.fantrip.opencms.clickfantrip.views/template/gallery-guides-section/gallery-guides-section.jsp]]></target>
        <uuid>3d923de9-3638-11e7-b804-64ee75c6c19a</uuid>
      </link>
    </FunctionProvider>
  </DynamicFunction>
</DynamicFunctions>
