<?xml version="1.0" encoding="UTF-8"?>

<DynamicFunctions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/function.xsd">
  <DynamicFunction language="en">
    <Title><![CDATA[Header Selector]]></Title>
    <Description><![CDATA[Header Selector]]></Description>
    <FunctionProvider>
      <link type="WEAK">
        <target><![CDATA[/system/modules/com.fantrip.opencms.clickfantrip.views/template/header/header-selector.jsp]]></target>
        <uuid>9f6673cd-e4a1-12e9-b0bf-04922659cd14</uuid>
      </link>
    </FunctionProvider>
  </DynamicFunction>
</DynamicFunctions>
