<?xml version="1.0" encoding="UTF-8"?>

<DynamicFunctions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/function.xsd">
  <DynamicFunction language="en">
    <Title><![CDATA[Footer Section FT]]></Title>
    <Description><![CDATA[Footer Section FT]]></Description>
    <FunctionProvider>
      <link type="WEAK">
        <target><![CDATA[/system/modules/com.fantrip.opencms.clickfantrip.views/template/footer/footer.jsp]]></target>
        <uuid>55c6e066-ff3f-11e9-97bb-04922659cd14</uuid>
      </link>
    </FunctionProvider>
  </DynamicFunction>
</DynamicFunctions>
